---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Septiembre 2022 - abril 2024",
    title: "Desarrollador de software",
    company: "Funiber",
    description:
      "Desarrollo de aplicaciones web y microservicios utilizando el framework PHP Laravel, integrando soluciones de JavaScript como React y Angular para optimizar la comunicación entre servicios y mejorar la interactividad en la interfaz de usuario.",
  },
  {
    date: "Octubre 2021 - Agosto 2022",
    title: "Desarrollador Web",
    company: "Grupo link",
    description:
      "Desarrollo de soluciones web robustas utilizando Symfony como framework PHP, integrado con frameworks de JavaScript",
  },
  {
    date: "Abril 2021 - julio 2021",
    title: "Diseñador frontend",
    company: "ASAP BUSINESS S.A.",
    description:
      "Diseño de y progamacion de paginas web haciendo uso del CMS wordpress y plugins como elementor.",
  },
  {
    date: "2018 - 2020",
    title: "Programador Junior",
    company: "Development Solutions",
    description:
      "Desarrollo de aplicaciones web en java EE, Hibernate y framework JSF (Primefaces en particular).",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
